<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Romain BUISINE</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Roboto&display=swap" rel="stylesheet">
  <!-- CSS personnalisé -->
  <link rel="stylesheet" href="/assets/custom.css">
</head>
<body data-spy="scroll" data-target="#navbar" data-offset="50">

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top navbar-custom" id="navbar">
  <a class="navbar-brand" href="#">Romain BUISINE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="#section1">SERVICES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section2">PORTFOLIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section3">TECHNOLOGIES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section4">A PROPOS</a>
      </li>
    </ul>
    <a class="btn btn-success navbar-contact-btn" href="#">Contact</a>
  </div>
</nav>
<div class="banner-section">
  <div class="banner-content">

  </div>
</div>

<div class="custom-container mt-5">
  <div id="section1" class="section ">
    <!-- Contenu de la section 1 -->
    <h2>Réalisation de sites internet et applications web/mobile</h2>
    <p>Vous souhaitez créer un site internet ou une application web ? Refondre un projet déjà existant ?
    Je réalise votre projet de A à Z, depuis sa conception jusqu'à sa mise en ligne.</p>
    <h3><i class="fa-solid fa-code"></i>   DÉVELOPPEMENT</h3>
    <p>Production technique "full-stack" : déploiement du code jusqu'à la mise en ligne.</p>
    <ul>
      <li>Programmation et architecture</li>
      <li>Bases de données</li>
      <li>Hébergement sécurisé</li>
    </ul>
    <h3><i class="fa-solid fa-object-group"></i> DESIGN</h3>
    <p>Création de maquettes du parcours-utilisateur (UX/UI), avec un design "responsive" qui s'adapte à tous les écrans, y compris mobiles.</p>
    <p>Ajout de fonctionalités sur-mesure selon votre besoin : vitrines, e-commerce, authentification, search, géolocalisation, paiement, mailings, etc.</p>

  </div>
  <div id="section2" class="section ">
    <!-- Contenu de la section 2 -->
    <h2>Portfolio</h2>
    <div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Clone AIRBNB</h2>
      <p>Une copie du site AIRBNB</p>
    </div>
  </div>
  <div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
  </div>
</div>

</div>

  </div>
  <div id="section3" class="section ">
    <!-- Contenu de la section 3 -->
  </div>
  <div id="section4" class="section ">
    <!-- Contenu de la section 4 -->
  </div>
  <div id="section5" class="section ">
    <!-- Contenu de la section 5 -->
  </div>
  <div id="section6" class="section ">
    <!-- Contenu de la section 6 -->
  </div>
</div>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://kit.fontawesome.com/6fdcd3d6a3.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
