<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Romain BUISINE</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Roboto&display=swap" rel="stylesheet">
  <!-- CSS personnalisé -->
  <link rel="stylesheet" href="/assets/custom.css">
</head>
<body data-spy="scroll" data-target="#navbar" data-offset="50">

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top navbar-custom" id="navbar">
  <a class="navbar-brand" href="#">Romain BUISINE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="#section1">SERVICES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section2">PORTFOLIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section3">TECHNOLOGIES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section6">A PROPOS</a>
      </li>
    </ul>
    <a class="btn btn-success navbar-contact-btn" href="#">Contact</a>
  </div>
</nav>
<div class="banner-section">
  <div class="banner-content">

  </div>
</div>

<div class="custom-container mt-5">
  <div id="section1" class="section">
    <!-- Contenu de la section 1 -->
    <div class="content-container">
      <h2>Réalisation de sites internet et applications web/mobile</h2>
      <p>Vous souhaitez créer un site internet ou une application web ? Refondre un projet déjà existant ?
      Je réalise votre projet de A à Z, depuis sa conception jusqu'à sa mise en ligne.</p>
      <h3><i class="fa-solid fa-code"></i>   DÉVELOPPEMENT</h3>
      <p>Production technique "full-stack" : déploiement du code jusqu'à la mise en ligne.</p>
      <ul>
        <li>Programmation et architecture</li>
        <li>Bases de données</li>
        <li>Hébergement sécurisé</li>
      </ul>
      <h3><i class="fa-solid fa-object-group"></i> DESIGN</h3>
      <p>Création de maquettes du parcours-utilisateur (UX/UI), avec un design "responsive" qui s'adapte à tous les écrans, y compris mobiles.</p>
      <p>Ajout de fonctionnalités sur-mesure selon votre besoin : vitrines, e-commerce, authentification, search, géolocalisation, paiement, mailings, etc.</p>
    </div>
  </div>
</div>

  <div id="section2" class="section ">
    <!-- Contenu de la section 2 -->
    <h2>Portfolio</h2>
    <div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Clone AIRBNB</h2>
      <p>Une copie du site AIRBNB</p>
    </div>
  </div>
  <div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Glass Collect</h2>
      <p>Une application de consigne en verre</p>
    </div>
  </div>
</div>

</div>

  </div>

  <div id="section3" class="section ">
    <!-- Contenu de la section 3 -->
    <h2>Technologies</h2>
    <h4>Outils back-end</h4>
    <div class="row">
    <!-- Carte 1 -->
    <div class="col-md-3 mb-4">
      <div class="card d-flex align-items-center">
        <img src="https://res.cloudinary.com/dpng0dizn/image/upload/v1707220064/html5_krcx66.png" class="card-img-top logo-card" alt="Logo HTML5">
        <div class="card-body">
          <p class="card-text">HTML</p>
        </div>
      </div>
    </div>

    <!-- Carte 2 -->
    <div class="col-md-3 mb-4">
      <div class="card d-flex align-items-center">
        <img src="https://res.cloudinary.com/dpng0dizn/image/upload/v1707220064/css3_l20tpu.png" class="card-img-top logo-card" alt="Logo CSS3">
        <div class="card-body">
          <p class="card-text">CSS</p>
        </div>
      </div>
    </div>
    <!-- Carte 3 -->
    <div class="col-md-3 mb-4">
      <div class="card d-flex align-items-center">
        <img src="https://res.cloudinary.com/dpng0dizn/image/upload/v1707220064/javascript_nxj5j2.png" class="card-img-top logo-card" alt="logo Javascript">
        <div class="card-body">
          <p class="card-text">Javascript</p>
        </div>
      </div>
    </div>
    <!-- Carte 4 -->
    <div class="col-md-3 mb-4">
      <div class="card d-flex align-items-center">
        <img src="https://res.cloudinary.com/dpng0dizn/image/upload/v1707220064/bootstrap_vevrxt.png" class="card-img-top logo-card" alt="logo Bootstrap">
        <div class="card-body">
          <p class="card-text">Bootstrap</p>
        </div>
      </div>
    </div>

    <!-- Carte 5 -->
    <div class="col-md-3 mb-4">
      <div class="card d-flex align-items-center">
        <img src="https://res.cloudinary.com/dpng0dizn/image/upload/v1707220064/Figma_zmil7e.png" class="card-img-top logo-card" alt="logo FIGMA">
        <div class="card-body">
          <p class="card-text">Figma</p>
        </div>
      </div>
    </div>

    <!-- Carte 6 -->
    <div class="col-md-3 mb-4">
      <div class="card d-flex align-items-center">
        <img src="https://res.cloudinary.com/dpng0dizn/image/upload/v1707220077/tailwind_zprhjr.png" class="card-img-top logo-card" alt="logo tailwind">
        <div class="card-body">
          <p class="card-text">Tailwind</p>
        </div>
      </div>
    </div>
    </div>
  </div>

  <div id="section4" class="section ">
    <!-- Contenu de la section 4 -->
    <h4>Outils front-end</h4>
    <div class="row">
    <!-- Carte 1 -->
    <div class="col-md-3 mb-4">
      <div class="card d-flex align-items-center">
        <img src="https://res.cloudinary.com/dpng0dizn/image/upload/v1707220077/Ruby_j3xwkx.png" class="card-img-top logo-card" alt="logo Ruby">
        <div class="card-body">
          <p class="card-text">Ruby</p>
        </div>
      </div>
    </div>

    <!-- Carte 2 -->
    <div class="col-md-3 mb-4">
      <div class="card d-flex align-items-center">
        <img src="https://res.cloudinary.com/dpng0dizn/image/upload/v1707220076/Rails_tlb89c.png" class="card-img-top logo-card" alt="logo rails">
        <div class="card-body">
          <p class="card-text">Rails</p>
        </div>
      </div>
    </div>

    <!-- Carte 3 -->
    <div class="col-md-3 mb-4">
      <div class="card d-flex align-items-center">
        <img src="https://res.cloudinary.com/dpng0dizn/image/upload/v1707220076/postgre_sql_wtmndf.png" class="card-img-top logo-card" alt="logo Postgre SQL">
        <div class="card-body">
          <p class="card-text">Postgre SQL</p>
        </div>
      </div>
    </div>

    <!-- Carte 4 -->
    <div class="col-md-3 mb-4">
      <div class="card d-flex align-items-center">
        <img src="https://res.cloudinary.com/dpng0dizn/image/upload/v1707220077/stripe_dbceyc.png" class="card-img-top logo-card" alt="logo stripe">
        <div class="card-body">
          <p class="card-text">Stripe</p>
        </div>
      </div>
    </div>

    <!-- Carte 5 -->
    <div class="col-md-3 mb-4">
      <div class="card d-flex align-items-center">
        <img src="https://res.cloudinary.com/dpng0dizn/image/upload/v1707220064/GITHUB_dsmuiq.png" class="card-img-top logo-card" alt="logo github">
        <div class="card-body">
          <p class="card-text">GITHUB</p>
        </div>
      </div>
    </div>

    <!-- Carte 6 -->
    <div class="col-md-3 mb-4">
      <div class="card d-flex align-items-center">
        <img src="https://res.cloudinary.com/dpng0dizn/image/upload/v1707220064/heroku_jqplua.png" class="card-img-top logo-card" alt="logo github">
        <div class="card-body">
          <p class="card-text">Heroku</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div id="section5" class="section">
  <!-- Contenu de la section 5 -->
  <h2>FORMATION</h2>
  <hr class="section-divider">
  <!-- Le Wagon -->
  <div class="row">
  <div class="col-2 d-flex align-items-center">
    <img src="https://res.cloudinary.com/dpng0dizn/image/upload/v1707220076/lewagon_ybvpw1.png" class="logo-card" alt="Lewagon logo">
  </div>

  <div class="col-10 custom-section-container text-left">
    <h5>
      <a href="https://www.lewagon.com/fr" class="custom-link">Le Wagon</a>
      <span class="date">(2023, batch 1174)</span>
    </h5>
    <p>Formation intensive de 9 semaines au développement web et mobile.
      <br>
      Réalisation d'applications web depuis leur conception jusqu'à leur mise en ligne.
      <br>
      Certification RNCP au métier de "Concepteur et développeur d'applications web", niveau Bac+3/4.</p>
    <h5>
      <span class="details small hover-bold" data-toggle="modal" data-target="#wagon_certificate">
        <i class="fa-solid fa-arrow-right"></i>
        <a href="#" class="text-success">Voir le certificat</a>
      </span>
    </h5>
  </div>
</div>
<br>
<div class="row">
  <div class="col-2 d-flex align-items-center">
    <img src="https://res.cloudinary.com/dpng0dizn/image/upload/v1707228833/EIMP_nixjs9.png" class="logo-card" alt="EIMP logo">
  </div>
  <!-- Ajoutez le contenu supplémentaire ici si nécessaire -->
  <div class="col-10 custom-section-container text-left">
    <h5>
      <a href="https://eimparis.com/" class="custom-link">EIMP</a>
      <span class="date">(2012-2014)</span>
    </h5>
    <p>BTS Management des Unités Commerciales, niveau Bac+2</p>
  </div>
</div>

<h2>Expérience professionnelle</h2>
<hr class="section-divider">
  <!-- Structure commune pour logo + paragraphe -->
  <div class="experience-block row">
    <!-- Logo 1 -->
    <div class="col-2 d-flex align-items-center">
      <img src="https://res.cloudinary.com/dpng0dizn/image/upload/v1707392420/Design_sans_titre_fr7xar.png" alt="Logo dev" class="experience-logo">
    </div>
    <!-- Paragraphe 1 -->
    <div class="col-10 custom-section-container text-left">
      <h5><strong>Développeur web </strong>(2023 - aujourd'hui)</h5>
      <p>Conception et développement d'applications web et mobile</p>
    </div>
  </div>

  <div class="experience-block row">
    <!-- Logo 2 -->
    <div class="col-2 d-flex align-items-center">
      <img src="https://res.cloudinary.com/dpng0dizn/image/upload/v1707391693/images_blmsui.jpg" alt="Logo Innovorder" class="experience-logo">
    </div>
    <!-- Paragraphe 2 -->
    <div class="col-10 custom-section-container text-left">
      <h5><strong>Customer Care Specialist </strong>(2019 - 2023) - <a href="https://www.innovorder.com/">Innovorder</a></h5>
      <p>Gestion de la relation client, support technique, formation des utilisateurs, gestion de projet</p>
    </div>
  </div>
</div>

<div id="section6" class="section ">
  <!-- Contenu de la section 6 -->
  <div class="content-container text-white">
    <h2>A propos</h2>
    <p>Je suis un développeur web full-stack passionné par la création de sites internet et d'applications web. Je suis également un ancien étudiant du Wagon, où j'ai appris à coder et à développer des applications web et mobile.</p>
    <p>Je suis disponible pour travailler sur des projets de développement web et mobile, de la conception à la mise en ligne.</p>
    <br>
    <br>

    <!-- Nouvelle div pour la section "Contact" -->
    <div class="contact-section text-white d-flex align-items-center"> <!-- Ajout de la classe text-white et align-items-center -->
      <!-- Image à gauche de la section "Contact" -->
      <img src="https://res.cloudinary.com/dpng0dizn/image/upload/v1707398259/michal-biernat-h0xEUQXzU38-unsplash_zifa7w.jpg" alt="Contact" style="max-width: 20%; margin-right: 15px;"> <!-- Ajustez le chemin et la taille selon vos besoins -->

    <!-- Nouvelle div pour la section "Contact" -->
    <div class="contact-section text-white">
      <h2>Contact</h2>
      <div class="d-flex align-items-center">
      <i class="fa-solid fa-envelope" style="margin-right: 8px;"></i> <!-- Ajout de la marge droite -->
        <p>: rom.buisine@gmail.com</p>
      </div>

      <!-- Logo pour le téléphone -->
      <div class="d-flex align-items-center">
        <i class="fa-solid fa-phone" style="margin-right: 8px;"></i> <!-- Ajout de la marge droite -->
        <p>: 07 89 09 04 82</p>
      </div>

      <div class="d-flex align-items-center mb-3">
        <a href="https://www.linkedin.com/in/romain-buisine-a80559b6/" target="_blank">
        <i class="fa-brands fa-linkedin" style="margin-right: 8px;"></i> <!-- Ajout de la marge droite -->
        </a>
      </div>
      <!-- Logo pour GitHub -->
      <div class="d-flex align-items-center mb-3">
        <a href="https://github.com/RomainB1988" target="_blank"> <!-- Remplacez "lien_vers_votre_profil_github" par votre propre URL GitHub -->
        <i class="fa-brands fa-github" style="margin-right: 8px;"></i> <!-- Ajout de la marge droite -->
        </a>
      </div>

    </div>
    </div>
  </div>
</div>

<!-- Contenu du certificat (hors de toutes les sections) -->
<div class="modal fade" id="wagon_certificate" tabindex="-1" role="dialog" aria-labelledby="wagonCertificateLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="wagonCertificateLabel">Certificat du Wagon</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Ajoutez le contenu de votre certificat ici -->
        <!-- Par exemple, une image ou du texte -->
        <img src="https://res.cloudinary.com/dpng0dizn/image/upload/a_-90/c_fill,ar_16:9,g_auto/v1707226571/certif_x8tosp.jpg" alt="Certificat du Wagon">
      </div>
    </div>
  </div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://kit.fontawesome.com/6fdcd3d6a3.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
