
body {
  font-family: 'Times', sans-serif;
  text-align: center;
}

.navbar-custom {
  background-color: #7b1515; /* Couleur de fond */
  border-bottom: 2px solid #fbf7f7; /* Bordure inférieure blanche */

}

.navbar-custom .navbar-brand {
  color: #111010; /* Couleur du texte */
  font-size: 1.5rem; /* Taille de la police */

}

.navbar-custom .navbar-nav {
  text-align: center; /* Ajoutez cette ligne pour centrer le texte */
}
.navbar-custom .navbar-nav .nav-link {
  display: inline-block; /* Ajoutez cette ligne pour maintenir les liens en ligne */
  color: #757171;
  font-size: 1rem;
  margin: 0 15px; /* Ajoutez une marge entre les liens pour l'esthétique (ajustez selon vos besoins) */
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: #0c0c0b; /* Couleur du texte des liens au survol */
  text-decoration: underline #0c0c0b; /* Soulignement des liens au survol */
}

.navbar-contact-btn {
  margin-right: 15px;
}

.banner-section {
  background-image: url('https://res.cloudinary.com/dpng0dizn/image/upload/v1706714256/Sans_titre_Canvas_Banner_1000_x_250_px_pmf4ww.png'); /* Remplacez par le chemin de votre image */
  background-size: cover;
  background-position: center;
  padding: 200px 0; /* Ajustez selon vos besoins */
}

.banner-content {
  max-width: 800px;
  margin: 0 auto;
}

.banner-content h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.banner-content p {
  font-size: 1.25rem;
}

.custom-container {
  width: 100%; /* Fait en sorte que la container occupe toute la largeur */

  margin-right: auto;
  margin-left: auto;
}




#section1,
#section3,
#section5 {
  background-color: #fff; /* Blanc pour la section 1 et 3 */
}

#section2{
  background-color: #E7EEEE; /* Gris pour la section 2 et 4 */
}
#section4{
  background-color: #F7F4F4;
}
#section6{
  background-color: #616A77;
}

/* Pour que chaque section occupe toute la largeur de la page */
#section1,
#section2,
#section3,
#section4,
#section5,
#section6 {
  width: 100%;
  padding: 100px; /* Ajoute une marge interne pour plus d'espace autour du contenu */
}
h2{
  font-family: "Cormorant", serif;
  font-weight: bold;
}
body{
  font-family: "Cormorant", serif;
  font-size: 22px; /* Remplacez 16px par la taille de police souhaitée */
}
.section > ul {
  list-style-type: none;
  padding-left: 0;
}

.section > ul > li::before {
  content: '\2022';
  color: #000000;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em; /* Ajustez cette valeur selon vos préférences */
  vertical-align:auto; /* Alignement vertical */
  margin-right: 0.5em; /* Espacement entre le point et le texte */
}
.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

#section6 h2 {
  color: white;
}
.logo-card {
  max-width: 15%; /* Ajustez la taille maximale selon vos besoins */
  height: auto;    /* Pour conserver les proportions originales */
}
.section-divider {
  border-color: #ADBC9F; /* Remplacez #ff0000 par la couleur de votre choix en format hexadécimal */
}
.custom-link {
  color: #ADBC9F; /* Remplacez #ff0000 par la couleur de votre choix en format hexadécimal */
  /* Vous pouvez également définir d'autres styles, tels que la taille de police, le soulignement, etc. */
}
/* Styles pour la fenêtre modale */
.modal {
  text-align: center;
}

.modal-dialog {
  max-width: 80%; /* Ajustez la largeur maximale selon vos besoins */
}

.modal-content {
  width: 100%;
}

.modal-header, .modal-body, .modal-footer {
  padding: 20px; /* Ajustez l'espacement intérieur selon vos besoins */
}

/* Styles pour centrer le titre de la fenêtre modale */
.modal-title {
  margin: 0 auto;
}
.content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 900px; /* Ajustez la largeur maximale selon vos préférences */
  margin: 0 auto; /* Centrer le contenu horizontalement */
  text-align: left; /* Aligner le texte à gauche à l'intérieur du conteneur */
}
.custom-section-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 900px; /* Ajustez la largeur maximale selon vos préférences */
  margin: 0 auto; /* Centrer le contenu horizontalement */
}
